<!DOCTYPE html>
<html>

<head>
    {% if startpage %}
    <title>Burgertube - Privacy-respecting YouTube frontend</title>
    {% else %}
    <title>{{ searchquery | title }}</title>
    {% endif %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ style }}" />
</head>

<div class="topnav">
    <nav>
        <form action="/results" type="GET">
            <a class="burgertube" href="/">Burgertube</a>
            <input type="search" value="{{ searchquery }}" name="search_query" placeholder="Search">
        </form>
    </nav>
</div>
<br><br><br>

{% if startpage %}
<div class="startpage">
    <h1>Burgertube</h1>
    <h2>Privacy-respecting YouTube frontend</h2>
    <form action="/results" type="GET">
        <input type="search" value="{{ searchquery }}" name="search_query" placeholder="Search YouTube">
    </form>
    <br><br>
    <a href="/support">Support Burgertube</a>
    <a href="/switchcss">Switch CSS theme</a>
    <a href="https://github.com/maaa101/burgertube">Git</a>

</div>
{% endif %}

<div class="videogrid">
    {% for video in results %}
    {% if video.thumbnails[0].width > video.thumbnails[0].height %}
    <div class="video">
        <a class="videolink" href="/watch?v={{ video.id }}">
            <img loading="lazy" src="{{ video.thumbnails[0].url }}">
            <p>{{ video.title }}</p>
            <a class="uploader" href="/channel/{{ video.channel_id }}">
                <p>{{ video.channel }} • {{ video.view_count }} views</p>
            </a>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>

<body>

</body>

</html>