<!DOCTYPE html>
<html>

<head>
    {% if startpage %}
    <title>Burgertube - Privacy-respecting YouTube frontend</title>
    {% else %}
    <title>{{ searchquery | title }}</title>
    {% endif %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ style }}" />
</head>

<div class="topnav">
    <nav>
        <form action="/results" type="GET">
            <a class="burgertube" href="/">Burgertube</a>
            <input type="search" value="{{ searchquery }}" name="search_query" placeholder="Search">
        </form>
    </nav>
</div>
<br><br><br>

<div class="startpage">
    <br>
    <p>Switch your CSS stylesheet!</p>
    <form method="POST">
        <input type="text" value="{{ style }}" name="stylesheetlink" placeholder="URL">
    </form>
</div>

</body>

</html>