<!DOCTYPE html>
<html>

<head>
    <title>{{ videoInfo.title }}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ style }}" />
</head>

<div class="topnav">
    <nav>
        <form action="/results" type="GET">
            <a class="burgertube" href="/">Burgertube</a>
            <input type="search" value="{{ searchquery }}" name="search_query" placeholder="Search">
        </form>
    </nav>
</div>
<br><br><br>

<body>

    <div class="split left">
        <video id="hd-video" width="520" height="292.5" controls>
            <source src="/api/watch/{{ videoInfo.id }}/0" type="video/webm">
            <source src="/api/watch/{{ videoInfo.id }}/0" type="video/mp4">
            Your browser does not support video playback.
        </video>
        <audio id="hd-audio" class="hidden" controls>
            <source src="/api/watch/{{ videoInfo.id }}/1" type="audio/mpeg">
            Your browser does not support the audio playback.
        </audio>
        <noscript>
        <br>
        <a class="warning">JavaScript is required for audio playback.</a>
        </noscript>
        <h2>{{ videoInfo.title }}</h2>
        <a class="channel" href="/channel/{{ videoInfo.channel_id }}">{{ videoInfo.channel }}</a>
        <a class="subscribers">{{ videoInfo.channel_follower_count }} subscribers</a>
        <p class="description">{{ videoInfo.description | urlize(40) }}</p>
        <br><br><br><br>
    </div>

    <div class="split right">
        <p>More videos</p>
        <iframe src="/api/similar/{{ videoInfo.id }}"></iframe>
    </div>

    <script>
        var hdVideo = document.getElementById("hd-video");
        var hdAudio = document.getElementById("hd-audio");

        hdVideo.oncuechange = function () {
            hdAudio.currentTime = hdVideo.currentTime;
        };
        hdVideo.onseeked = function () {
            hdAudio.currentTime = hdVideo.currentTime;
        };
        hdVideo.onpause = function () {
            hdAudio.pause();
            hdAudio.currentTime = hdVideo.currentTime;
        };
        hdVideo.onplay = function () {
            hdAudio.play();
            hdAudio.currentTime = hdVideo.currentTime;
        };
        hdVideo.onerror = function () {
            hdAudio.currentTime = hdVideo.currentTime;
            hdAudio.pause();
        };
        hdVideo.onstalled = function () {
            hdAudio.currentTime = hdVideo.currentTime;
            hdAudio.pause();
        };
        hdVideo.onloadeddata = function () {
            hdAudio.currentTime = hdVideo.currentTime;
            hdVideo.play()
            hdAudio.play()
        };
        hdVideo.onvolumechange = function () {
            hdVideo.volume = 0
        }
        hdVideo.volume = 0
    </script>

</body>

</html>